.floating-paths__container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.floating-paths__svg {
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
  opacity: 0.6;
}




























