.page-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
}

.page-background__effects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.page-background__content {
  position: relative;
  z-index: 1;
  width: 100%;
}






