.home__container {
  background: var(--background-color);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  // margin-top: -60px;

  .home__popPackContainer {
    // height: 100%;

    // background: linear-gradient(-90deg, #000000 5%, transparent 40%);
    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;

      font-size: 60px;
    }

    // background: linear-gradient(-90deg, #da0000 5%, transparent 40%);
  }
}
